@{
    Layout = "~/_Layout.cshtml";
    Page.Title = "WebGrid";

    //access the argument label from the sending page using .QueryString["xxx"]
    //QueryString returns either null (if argument did not exists) or
    //   a string value

    var categoryid = Request.QueryString["cid"];

    //check that a value was passed
    if (string.IsNullOrEmpty(categoryid))
    {
        Response.Redirect("MultiRecordQuery.cshtml");
    }

    //query the database using the passed value
    var db = Database.Open("NorthwindDB");
    var scalarcommand = "SELECT CategoryName "
                        + "FROM Categories "
                        + "WHERE CategoryID = @0";
    //QueryValue returns a single value (not a record) from the  query
    //this value will be used in titling the WebGrid display
    var categoryname = db.QueryValue(scalarcommand, categoryid);

    var querycommand = "SELECT ProductID, ProductName, UnitPrice, UnitsInStock, Discontinued "
                        + "FROM Products "
                        + "WHERE CategoryID = @0 "
                        + "ORDER BY 2";
    var results = db.Query(querycommand, categoryid);

    //create an instance of WebGrid
    //notice the collection is passed at the time of instantiation
    var gridInstance = new WebGrid(results);
    // if gridDisplay is 1 use the default if it is 2 use the custom
    var gridDisplay = 2;

}

@section banner{
    <h1>DataBase: WebGrid Query</h1>
}

<div class="row">
    <div class="col-sm-offset-3">
        <span style="font-size:x-large"><strong>Products for @categoryname</strong></span>
        @if (gridDisplay == 1)
        {
            <!--Display the WebGrid instance in its default display-->
            @gridInstance.GetHtml()
        }
        else
        {
            @gridInstance.GetHtml(
             tableStyle:"table table-bordered table-striped table-hover",
             columns: gridInstance.Columns(
                 gridInstance.Column(columnName: "ProductID", header: "ID"),
                 gridInstance.Column(columnName: "ProductName", header: "Product"),
                 gridInstance.Column(columnName: "UnitPrice", header: "$"),
                 gridInstance.Column(columnName: "Discontinued", header: "Discontinued")

         )
     );
        }

    </div>
</div>


